<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Guru Bank Suite">
    <listeners>
        <listener class-name="utilities.ReportingFile"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="Login Page Test">
        <classes>
            <class name="testCases.LoginPage_Test"/>
        </classes>
        </test>
    <test verbose="2" preserve-order="true" name="Add customer Page Test">
        <classes>
            <class name="testCases.AddCustomer_Test"/>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Edit customer Page Test">
        <classes>
            <class name="testCases.EditCustomer_Test"/>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Add New Account Test">
        <classes>
            <class name="testCases.NewAccount_Test"/>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Fund Transfer Test">
        <classes>
            <class name="testCases.FundTransfer_Test"/>
        </classes>
    </test>
    <!--<test verbose="2" preserve-order="true" name="Login Page Data Driven Test">
        <classes>
            <class name="testCases.LoginPage_DDT"/>
        </classes>
    </test>-->
</suite>